#Encender el mod_rewrite
RewriteEngine On

#Comprobar que el fichero no existe. (si el fichero existe, para)
RewriteCond 	%{SCRIPT_FILENAME} -f
RewriteRule 	^ - [L]

#primeros casos básicos
RewriteRule ^(\w+)/(\w+)(/?)$ index.php?option=$1&action=$2 [NC,L]
RewriteRule ^(\w+)(/?)$ index.php?option=$1&action=main [NC,L]


#Caso con variables.
RewriteRule ^(\w+)/(\w+)/(\w+)/(\w+)(/?)$ index.php?option=$1&action=$2&$3=$4 [NC,L]
RewriteRule ^(.*)/(\w+)/(\w+)(/?)$ $1&$2=$3 [QSA,N]
